<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>---Menu TP01---</title>
</head>
<body>
  <h1>---Menu TP01---</h1>
 <ul>
   <li><a href="/punto1?num=2">1.Realizar el cálculo del factorial de un número</a></li>
   <li><a href="/punto2?num=2020">2. Determinar si es un año bisiesto</a></li>
   <li><a href="/punto3?num=11">3.Establecer si un número es par o impar</a></li>
   <li><a href="/punto4?num=3">4.Verificar mes segun numero ingresado</a></li>
   <li><a href="/punto5?num=1">5.Verificar mes segun numero ingresado con switch</a></li>
   <li><a href="/punto6?num=8">6.Evaluar Nota del Alumno</a></li>
   <li><a href="/punto7?num=80">7.Mostrar Secuencia Númerica 1</a></li>
   <li><a href="/punto8?num=0">8.Mostrar Secuencia Númerica 2</a></li>
   <li><a href="/punto9?num=320">9.Mostrar Secuencia Númerica 3</a></li>
   <li><a href="/punto10?num=320">10.Mostrar Secuencia Númerica 4</a></li>
   <li><a href="/punto11?num=320">11.Mostrar Secuencia Númerica 5</a></li>
   <li><a href="/punto12?num=6">12.Realizar el cálculo del tiempo que tarda en caer un objeto desde una altura.</a></li>
 </ul>
</body>
</html>